{{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
{{/if}}

<div class="thanks">
    <h1>Thank you for Signing this petition!{{petitionName}}</h1>

    <a class="signers" href="/signers">
        Check out who alreay signed the petition
    </a>
    {{#signature}}

        <img src="{{signature}}" alt="" />

    {{/signature}}
    <img src={{signature}} alt="" />

    <h2>This the number of peopled who support us {{count}} </h2>

    <form id="deleteSig" action="/delete" method="POST">
        <button class="button" type="submit"> Delete Signature</button>
    </form>

    <a class="editProfil" href="/addInfo">
        <button>Edit Profil</button>
    </a>
    <a class="signers" href="/signers">
        <button>Check Supportes</button>
    </a>

</div>